@import "../../vars.css";

.nav{
    padding: 1.5rem;
    background-color: var(--green);
    color: var(--cream);
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 100%;
    position: sticky;
}

.links{
    padding:0.25rem;    
    display: flex;
    gap:1rem;
}

.link{
    text-decoration: none;
    border: 1px solid var(--cream);
    border-radius: 5px;
    padding: 0.5rem;
    font-size: 1rem;
    background-color: var(--cream);
}

.link:hover{
    background-color: var(--hover-color);
}

.link:active{
    box-shadow: 1px 0px 15px black;
}

.link:visited{
    color: var(--green)
}
